.container {
    margin: 20px;
    padding: 0px;
    background-color: white;
    width: 100%;
}
.tieude {
    color: black;
    text-align: center;
    font-size: 30px;
    height: 50px;
}
.main_left {
    float: left;
    width: 33%;
    margin: 10px;
    background-color: bisque;
}
.main_center {
    float: left;
    width: 33%;
    margin: 10px;
}
.main_right {
    float: left;
    width: 33%;
    margin: 10px;
}
.main_left_top_1 p {
    float: left;
    padding-right: 50px;
}
main_left_top_1 img {
    margin: 40px;
}
.main_left_top p {
    padding: 20px;
}









img {
    width: 60px;
    height: 60px;
}
.image_center img {
    width: 350px;
    height: auto;
}